@media(max-width: 980px){

    .basic-nav{
        margin-right:0;
        
    }
    
    .logo{
    
        margin-left:1rem;
    
    }
    
    main{

        margin-left:1rem;

      
    }

  
.projects{
    display: grid;

  grid-template-columns: repeat(2, 1fr);
}





}


@media(max-width: 768px){

.basic-nav{
    margin-right:0;
    font-size:.75rem;
}

.logo{

    margin-left:1rem;

}

main{
    width:95%;
    margin:1rem auto 1rem auto;
    
}





}




@media(max-width: 640px){

    body{
      font-size:0.75rem;
    }
    nav{
  
      height:2rem;
  
    }
  
  
    .logo{
      position: relative;
      
      margin:0;
      width:100%;
      height:3rem;
  
      
  
    }
  
    .basic-nav{
      position: relative;
      top:3rem;
  
      height:2rem;
      float:none;
      margin:0;
      text-align:center;
      background:#fff;
      
    }
  
    .basic-nav a{
      position: relative;
      top:-2.25rem;
      z-index: 20;
    }
  
    main{
      margin-top:4rem;
   
      width:95%;
      
    }
  
    p{
      font-size:1rem;
    }
  
    img{
      width:100%;
    }
  
    .projects{
        display: grid;
    
      grid-template-columns: repeat(1, 1fr);
    }
  
  
  
  }
